cmake-build-debug
.idea
.vscode
__pycache__
__pycharm__
*.fvecs
*.ivecs
*.bin
*.centroid
*.log
*.ivf
*.hnsw
*.png
*.jpg
*.index
build/
result_*
results-big
results-naive
results-sse
results-avx
results-avx512
results/
data/__pycache__/
to_tex1.py
to_tex.py
to_tex2.py
*local_test*
